@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Open+Sans&family=Oswald:wght@600&family=Roboto:wght@400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.rectangle-with-corners {
  position: relative;
}

.rectangle-with-corners::before,
.rectangle-with-corners::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: var(--primary); /* Use the text color for the border */
}

.rectangle-with-corners::before {
  /* Top-left corner */
  top: 0;
  left: 0;
  width: 20px; /* Adjust based on your needs */
  height: 2px; /* Border thickness */
  border-top-width: 2px; /* Border thickness */
  border-left-width: 2px; /* Border thickness */
}

.rectangle-with-corners::after {
  /* Bottom-right corner */
  bottom: 0;
  right: 0;
  width: 2px; /* Border thickness */
  height: 20px; /* Adjust based on your needs */
  border-bottom-width: 2px; /* Border thickness */
  border-right-width: 2px; /* Border thickness */
}
